<!DOCTYPE html>
<html>
  <head>
    <title>CAVALENTOI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 <meta property="og:image" content="https://res.cloudinary.com/numama/image/upload/v1649961138/CAVALENTOI/OG_LAURENCE_h6x6px.png">
    <meta property="og:url" content="www.cavalentoi.com">
    <meta property="og:title" content="CAVAL EN TOI | Praticienne en médiation équine et thérapies brèves">
    <meta property="og:description" content="Avec Caval’en toi, j’accompagne des personnes (ou groupe) dans leur recherche de mieux être, d’une meilleure compréhension d’elles-mêmes, qu’elles trouvent à l’intérieur (en elles) les ressources et la force que moi-même j’ai découvert par l’intermédiaire d’un cheval et de dame nature...">



    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
